In [1]:
import pandas as pd

### Store CSV into DataFrame

In [2]:
csv_file1 = "Resources/fundamentals.csv"
fundamentals_data_df = pd.read_csv(csv_file1)
fundamentals_data_df.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

In [3]:
csv_file2 = "Resources/prices.csv"
prices_data_df = pd.read_csv(csv_file2)
prices_data_df.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [4]:
csv_file3 = "Resources/securities.csv"
securities_data_df = pd.read_csv(csv_file3)
securities_data_df.head()

,Ticker symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877

### Transforming DataFrames

In [5]:
securities_data_df.columns

Index(['Ticker symbol', 'Security', 'SEC filings', 'GICS Sector',
       'GICS Sub Industry', 'Address of Headquarters', 'Date first added',
       'CIK'],
      dtype='object')

In [6]:
securities_data_df['Year'] = pd.DatetimeIndex(securities_data_df['Date first added']).year
securities_data_df['Year']

0         NaN
1      1964.0
2      2012.0
3      2011.0
4      2015.0
        ...
500       NaN
501    1997.0
502       NaN
503       NaN
504    2013.0
Name: Year, Length: 505, dtype: float64

In [7]:
dS = securities_data_df[["Ticker symbol",
                         "Security", 
                         "GICS Sector",
                         "GICS Sub Industry",
                         "Year"
                         ]]
dS

,Ticker symbol,Security,GICS Sector,GICS Sub Industry,Year
0,MMM,3M Company,Industrials,Industrial Conglomerates,NaN
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment,1964.0
2,ABBV,AbbVie,Health Care,Pharmaceuticals,2012.0
3,ACN,Accenture plc,Information Technology,IT Consulting & Other Services,2011.0
4,ATVI,Activision Blizzard,Information Technology,Home Entertainment Software,2015.0
...,...,...,...,...,...
500,YHOO,Yahoo Inc.,Information Technology,Internet Software & Services,NaN
501,YUM,Yum! Brands Inc,Consumer Discretionary,Restaurants,1997.0
502,ZBH,Zimmer Biomet Holdings,Health Care,Health Care Equipment,NaN
503,ZION,Zions Bancorp,Financials,Regional Banks,NaN
504,ZTS,Zoetis,Health Care,Pharmaceuticals,2013.0

In [8]:
prices_data_df.columns

Index(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], dtype='object')

In [9]:
prices_data_df['year'] = pd.DatetimeIndex(prices_data_df['date']).year.astype('float')
prices_data_df['year']

0         2016.0
1         2016.0
2         2016.0
3         2016.0
4         2016.0
           ...
851259    2016.0
851260    2016.0
851261    2016.0
851262    2016.0
851263    2016.0
Name: year, Length: 851264, dtype: float64

In [10]:
dP =prices_data_df [['symbol', 'open', 'close', 'low', 'high', 'volume','year']]
dP

,symbol,open,close,low,high,volume,year
0,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0,2016.0
1,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0,2016.0
2,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0,2016.0
3,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0,2016.0
4,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0,2016.0
...,...,...,...,...,...,...,...
851259,ZBH,103.309998,103.199997,102.849998,103.930000,973800.0,2016.0
851260,ZION,43.070000,43.040001,42.689999,43.310001,1938100.0,2016.0
851261,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0,2016.0
851262,AIV,44.730000,45.450001,44.410000,45.590000,1380900.0,2016.0
851263,FTV,54.200001,53.630001,53.389999,54.480000,705100.0,2016.0

In [11]:
fundamentals_data_df.columns

Index(['Unnamed: 0', 'Ticker Symbol', 'Period Ending', 'Accounts Payable',
       'Accounts Receivable', 'Add'l income/expense items', 'After Tax ROE',
       'Capital Expenditures', 'Capital Surplus', 'Cash Ratio',
       'Cash and Cash Equivalents', 'Changes in Inventories', 'Common Stocks',
       'Cost of Revenue', 'Current Ratio', 'Deferred Asset Charges',
       'Deferred Liability Charges', 'Depreciation',
       'Earnings Before Interest and Tax', 'Earnings Before Tax',
       'Effect of Exchange Rate',
       'Equity Earnings/Loss Unconsolidated Subsidiary', 'Fixed Assets',
       'Goodwill', 'Gross Margin', 'Gross Profit', 'Income Tax',
       'Intangible Assets', 'Interest Expense', 'Inventory', 'Investments',
       'Liabilities', 'Long-Term Debt', 'Long-Term Investments',
       'Minority Interest', 'Misc. Stocks', 'Net Borrowings', 'Net Cash Flow',
       'Net Cash Flow-Operating', 'Net Cash Flows-Financing',
       'Net Cash Flows-Investing', 'Net Income', 'Net Income Adjustments',
       'Net Income Applicable to Common Shareholders',
       'Net Income-Cont. Operations', 'Net Receivables', 'Non-Recurring Items',
       'Operating Income', 'Operating Margin', 'Other Assets',
       'Other Current Assets', 'Other Current Liabilities', 'Other Equity',
       'Other Financing Activities', 'Other Investing Activities',
       'Other Liabilities', 'Other Operating Activities',
       'Other Operating Items', 'Pre-Tax Margin', 'Pre-Tax ROE',
       'Profit Margin', 'Quick Ratio', 'Research and Development',
       'Retained Earnings', 'Sale and Purchase of Stock',
       'Sales, General and Admin.',
       'Short-Term Debt / Current Portion of Long-Term Debt',
       'Short-Term Investments', 'Total Assets', 'Total Current Assets',
       'Total Current Liabilities', 'Total Equity', 'Total Liabilities',
       'Total Liabilities & Equity', 'Total Revenue', 'Treasury Stock',
       'For Year', 'Earnings Per Share', 'Estimated Shares Outstanding'],
      dtype='object')

In [12]:
dF = fundamentals_data_df[["Ticker Symbol",                            
                           "Total Revenue", 
                           "Sales, General and Admin.", 
                           "Cost of Revenue",
                           "Research and Development",
                           "Earnings Before Interest and Tax",
                           "Operating Income",
                           "Net Income",   
                           "Earnings Per Share",
                           "Estimated Shares Outstanding",
                           "Total Assets",                            
                           "Total Liabilities",
                           "Total Equity",
                           "For Year" 
]]
dF

,Ticker Symbol,Total Revenue,"Sales, General and Admin.",Cost of Revenue,Research and Development,Earnings Before Interest and Tax,Operating Income,Net Income,Earnings Per Share,Estimated Shares Outstanding,Total Assets,Total Liabilities,Total Equity,For Year
0,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,1.480000e+08,-1.876000e+09,-5.60,3.350000e+08,2.351000e+10,2.489100e+10,-7.987000e+09,2012.0
1,AAL,2.674300e+10,1.291300e+10,1.101900e+10,0.0,-1.324000e+09,1.399000e+09,-1.834000e+09,-11.25,1.630222e+08,4.227800e+10,4.500900e+10,-2.731000e+09,2013.0
2,AAL,4.265000e+10,2.068600e+10,1.562000e+10,0.0,4.099000e+09,4.249000e+09,2.882000e+09,4.02,7.169154e+08,4.322500e+10,4.120400e+10,2.021000e+09,2014.0
3,AAL,4.099000e+10,2.127500e+10,1.109600e+10,0.0,5.496000e+09,6.204000e+09,7.610000e+09,11.39,6.681299e+08,4.841500e+10,4.278000e+10,5.635000e+09,2015.0
4,AAP,6.205003e+09,2.440721e+09,3.106967e+09,0.0,6.579150e+08,6.573150e+08,3.876700e+08,5.29,7.328355e+07,4.613814e+09,3.403120e+09,1.210694e+09,2012.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,ZION,2.210591e+09,1.591239e+09,4.934400e+07,0.0,5.207260e+08,0.000000e+00,3.094710e+08,1.20,2.578925e+08,5.966952e+10,5.216201e+10,7.507519e+09,2015.0
1777,ZTS,4.561000e+09,1.613000e+09,1.669000e+09,399000000.0,8.030000e+08,7.940000e+08,5.040000e+08,1.01,4.990099e+08,6.558000e+09,5.618000e+09,9.400000e+08,2013.0
1778,ZTS,4.785000e+09,1.643000e+09,1.717000e+09,396000000.0,9.370000e+08,9.440000e+08,5.830000e+08,1.16,5.025862e+08,6.588000e+09,5.277000e+09,1.311000e+09,2014.0
1779,ZTS,4.765000e+09,1.532000e+09,1.738000e+09,364000000.0,6.690000e+08,7.500000e+08,3.390000e+08,0.68,4.985294e+08,7.913000e+09,6.845000e+09,1.068000e+09,2015.0
1780,ZTS,4.888000e+09,1.364000e+09,1.666000e+09,376000000.0,1.394000e+09,1.392000e+09,8.210000e+08,NaN,NaN,7.649000e+09,6.162000e+09,1.487000e+09,NaN

In [13]:
merged_df = pd.merge(dF, dP, how='left', left_on='Ticker Symbol', right_on='symbol')
merged_df.head()

,Ticker Symbol,Total Revenue,"Sales, General and Admin.",Cost of Revenue,Research and Development,Earnings Before Interest and Tax,Operating Income,Net Income,Earnings Per Share,Estimated Shares Outstanding,...,Total Liabilities,Total Equity,For Year,symbol,open,close,low,high,volume,year
0,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,148000000.0,-1.876000e+09,-5.6,335000000.0,...,2.489100e+10,-7.987000e+09,2012.0,AAL,4.84,4.77,4.66,4.94,9837300.0,2010.0
1,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,148000000.0,-1.876000e+09,-5.6,335000000.0,...,2.489100e+10,-7.987000e+09,2012.0,AAL,4.79,5.31,4.71,5.37,25212000.0,2010.0
2,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,148000000.0,-1.876000e+09,-5.6,335000000.0,...,2.489100e+10,-7.987000e+09,2012.0,AAL,5.19,5.09,5.00,5.38,16597900.0,2010.0
3,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,148000000.0,-1.876000e+09,-5.6,335000000.0,...,2.489100e+10,-7.987000e+09,2012.0,AAL,5.06,5.24,5.05,5.43,14033400.0,2010.0
4,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,148000000.0,-1.876000e+09,-5.6,335000000.0,...,2.489100e+10,-7.987000e+09,2012.0,AAL,5.27,5.14,5.06,5.43,12760000.0,2010.0

In [14]:
new_merged_df = pd.merge(merged_df, dS, how='left', left_on='Ticker Symbol', right_on='Ticker symbol')
new_merged_df.head()

,Ticker Symbol,Total Revenue,"Sales, General and Admin.",Cost of Revenue,Research and Development,Earnings Before Interest and Tax,Operating Income,Net Income,Earnings Per Share,Estimated Shares Outstanding,...,close,low,high,volume,year,Ticker symbol,Security,GICS Sector,GICS Sub Industry,Year
0,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,148000000.0,-1.876000e+09,-5.6,335000000.0,...,4.77,4.66,4.94,9837300.0,2010.0,AAL,American Airlines Group,Industrials,Airlines,2015.0
1,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,148000000.0,-1.876000e+09,-5.6,335000000.0,...,5.31,4.71,5.37,25212000.0,2010.0,AAL,American Airlines Group,Industrials,Airlines,2015.0
2,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,148000000.0,-1.876000e+09,-5.6,335000000.0,...,5.09,5.00,5.38,16597900.0,2010.0,AAL,American Airlines Group,Industrials,Airlines,2015.0
3,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,148000000.0,-1.876000e+09,-5.6,335000000.0,...,5.24,5.05,5.43,14033400.0,2010.0,AAL,American Airlines Group,Industrials,Airlines,2015.0
4,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,148000000.0,-1.876000e+09,-5.6,335000000.0,...,5.14,5.06,5.43,12760000.0,2010.0,AAL,American Airlines Group,Industrials,Airlines,2015.0

In [15]:
new_merged_df.count()

Ticker Symbol                       3033965
Total Revenue                       3033965
Sales, General and Admin.           3033965
Cost of Revenue                     3033965
Research and Development            3033965
Earnings Before Interest and Tax    3033965
Operating Income                    3033965
Net Income                          3033965
Earnings Per Share                  2686260
Estimated Shares Outstanding        2686260
Total Assets                        3033965
Total Liabilities                   3033965
Total Equity                        3033965
For Year                            2759760
symbol                              3033961
open                                3033961
close                               3033961
low                                 3033961
high                                3033961
volume                              3033961
year                                3033961
Ticker symbol                       3033965
Security                            3033965
GICS Sector                         3033965
GICS Sub Industry                   3033965
Year                                1809982
dtype: int64

In [16]:
new_df = new_merged_df.dropna(how='any')
new_df.count()

Ticker Symbol                       1603618
Total Revenue                       1603618
Sales, General and Admin.           1603618
Cost of Revenue                     1603618
Research and Development            1603618
Earnings Before Interest and Tax    1603618
Operating Income                    1603618
Net Income                          1603618
Earnings Per Share                  1603618
Estimated Shares Outstanding        1603618
Total Assets                        1603618
Total Liabilities                   1603618
Total Equity                        1603618
For Year                            1603618
symbol                              1603618
open                                1603618
close                               1603618
low                                 1603618
high                                1603618
volume                              1603618
year                                1603618
Ticker symbol                       1603618
Security                            1603618
GICS Sector                         1603618
GICS Sub Industry                   1603618
Year                                1603618
dtype: int64

In [17]:
new_df['Ticker Symbol'].nunique()

262

In [18]:
drop_df = new_df.drop(columns=['Ticker symbol','symbol','For Year','year'])
drop_df

,Ticker Symbol,Total Revenue,"Sales, General and Admin.",Cost of Revenue,Research and Development,Earnings Before Interest and Tax,Operating Income,Net Income,Earnings Per Share,Estimated Shares Outstanding,...,Total Equity,open,close,low,high,volume,Security,GICS Sector,GICS Sub Industry,Year
0,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,148000000.0,-1.876000e+09,-5.60,3.350000e+08,...,-7.987000e+09,4.840000,4.770000,4.660000,4.940000,9837300.0,American Airlines Group,Industrials,Airlines,2015.0
1,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,148000000.0,-1.876000e+09,-5.60,3.350000e+08,...,-7.987000e+09,4.790000,5.310000,4.710000,5.370000,25212000.0,American Airlines Group,Industrials,Airlines,2015.0
2,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,148000000.0,-1.876000e+09,-5.60,3.350000e+08,...,-7.987000e+09,5.190000,5.090000,5.000000,5.380000,16597900.0,American Airlines Group,Industrials,Airlines,2015.0
3,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,148000000.0,-1.876000e+09,-5.60,3.350000e+08,...,-7.987000e+09,5.060000,5.240000,5.050000,5.430000,14033400.0,American Airlines Group,Industrials,Airlines,2015.0
4,AAL,2.485500e+10,1.297700e+10,1.049900e+10,0.0,-1.813000e+09,148000000.0,-1.876000e+09,-5.60,3.350000e+08,...,-7.987000e+09,5.270000,5.140000,5.060000,5.430000,12760000.0,American Airlines Group,Industrials,Airlines,2015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3032973,ZTS,4.765000e+09,1.532000e+09,1.738000e+09,364000000.0,6.690000e+08,750000000.0,3.390000e+08,0.68,4.985294e+08,...,1.068000e+09,53.200001,53.779999,53.180000,53.779999,1942400.0,Zoetis,Health Care,Pharmaceuticals,2013.0
3032974,ZTS,4.765000e+09,1.532000e+09,1.738000e+09,364000000.0,6.690000e+08,750000000.0,3.390000e+08,0.68,4.985294e+08,...,1.068000e+09,53.779999,53.720001,53.650002,54.150002,1345000.0,Zoetis,Health Care,Pharmaceuticals,2013.0
3032975,ZTS,4.765000e+09,1.532000e+09,1.738000e+09,364000000.0,6.690000e+08,750000000.0,3.390000e+08,0.68,4.985294e+08,...,1.068000e+09,53.759998,53.439999,53.349998,53.849998,1241900.0,Zoetis,Health Care,Pharmaceuticals,2013.0
3032976,ZTS,4.765000e+09,1.532000e+09,1.738000e+09,364000000.0,6.690000e+08,750000000.0,3.390000e+08,0.68,4.985294e+08,...,1.068000e+09,53.470001,53.619999,53.400002,53.779999,1046700.0,Zoetis,Health Care,Pharmaceuticals,2013.0
3032977,ZTS,4.765000e+09,1.532000e+09,1.738000e+09,364000000.0,6.690000e+08,750000000.0,3.390000e+08,0.68,4.985294e+08,...,1.068000e+09,53.639999,53.529999,53.270000,53.740002,1701200.0,Zoetis,Health Care,Pharmaceuticals,2013.0

In [19]:
drop_df.dtypes

Ticker Symbol                        object
Total Revenue                       float64
Sales, General and Admin.           float64
Cost of Revenue                     float64
Research and Development            float64
Earnings Before Interest and Tax    float64
Operating Income                    float64
Net Income                          float64
Earnings Per Share                  float64
Estimated Shares Outstanding        float64
Total Assets                        float64
Total Liabilities                   float64
Total Equity                        float64
open                                float64
close                               float64
low                                 float64
high                                float64
volume                              float64
Security                             object
GICS Sector                          object
GICS Sub Industry                    object
Year                                float64
dtype: object

In [20]:
drop_df['Year'] = drop_df['Year'].astype('int') 
drop_df.dtypes

Ticker Symbol                        object
Total Revenue                       float64
Sales, General and Admin.           float64
Cost of Revenue                     float64
Research and Development            float64
Earnings Before Interest and Tax    float64
Operating Income                    float64
Net Income                          float64
Earnings Per Share                  float64
Estimated Shares Outstanding        float64
Total Assets                        float64
Total Liabilities                   float64
Total Equity                        float64
open                                float64
close                               float64
low                                 float64
high                                float64
volume                              float64
Security                             object
GICS Sector                          object
GICS Sub Industry                    object
Year                                  int32
dtype: object

In [21]:
drop_df['Total Revenue']= drop_df['Total Revenue']/1000000000
drop_df['Sales, General and Admin.']= drop_df['Sales, General and Admin.']/1000000000
drop_df['Cost of Revenue']= drop_df['Cost of Revenue']/1000000000
drop_df['Research and Development']= drop_df['Research and Development']/1000000000
drop_df['Earnings Before Interest and Tax']= drop_df['Earnings Before Interest and Tax']/1000000000
drop_df['Operating Income']= drop_df['Operating Income']/1000000000
drop_df['Net Income']= drop_df['Net Income']/1000000000
drop_df['Estimated Shares Outstanding']= drop_df['Estimated Shares Outstanding']/1000000000
drop_df['Total Assets']= drop_df['Total Assets']/1000000000
drop_df['Total Liabilities']= drop_df['Total Liabilities']/1000000000
drop_df['Total Equity']= drop_df['Total Equity']/1000000000
drop_df['volume']= drop_df['volume']/1000000
drop_df

,Ticker Symbol,Total Revenue,"Sales, General and Admin.",Cost of Revenue,Research and Development,Earnings Before Interest and Tax,Operating Income,Net Income,Earnings Per Share,Estimated Shares Outstanding,...,Total Equity,open,close,low,high,volume,Security,GICS Sector,GICS Sub Industry,Year
0,AAL,24.855,12.977,10.499,0.000,-1.813,0.148,-1.876,-5.60,0.335000,...,-7.987,4.840000,4.770000,4.660000,4.940000,9.8373,American Airlines Group,Industrials,Airlines,2015
1,AAL,24.855,12.977,10.499,0.000,-1.813,0.148,-1.876,-5.60,0.335000,...,-7.987,4.790000,5.310000,4.710000,5.370000,25.2120,American Airlines Group,Industrials,Airlines,2015
2,AAL,24.855,12.977,10.499,0.000,-1.813,0.148,-1.876,-5.60,0.335000,...,-7.987,5.190000,5.090000,5.000000,5.380000,16.5979,American Airlines Group,Industrials,Airlines,2015
3,AAL,24.855,12.977,10.499,0.000,-1.813,0.148,-1.876,-5.60,0.335000,...,-7.987,5.060000,5.240000,5.050000,5.430000,14.0334,American Airlines Group,Industrials,Airlines,2015
4,AAL,24.855,12.977,10.499,0.000,-1.813,0.148,-1.876,-5.60,0.335000,...,-7.987,5.270000,5.140000,5.060000,5.430000,12.7600,American Airlines Group,Industrials,Airlines,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3032973,ZTS,4.765,1.532,1.738,0.364,0.669,0.750,0.339,0.68,0.498529,...,1.068,53.200001,53.779999,53.180000,53.779999,1.9424,Zoetis,Health Care,Pharmaceuticals,2013
3032974,ZTS,4.765,1.532,1.738,0.364,0.669,0.750,0.339,0.68,0.498529,...,1.068,53.779999,53.720001,53.650002,54.150002,1.3450,Zoetis,Health Care,Pharmaceuticals,2013
3032975,ZTS,4.765,1.532,1.738,0.364,0.669,0.750,0.339,0.68,0.498529,...,1.068,53.759998,53.439999,53.349998,53.849998,1.2419,Zoetis,Health Care,Pharmaceuticals,2013
3032976,ZTS,4.765,1.532,1.738,0.364,0.669,0.750,0.339,0.68,0.498529,...,1.068,53.470001,53.619999,53.400002,53.779999,1.0467,Zoetis,Health Care,Pharmaceuticals,2013
3032977,ZTS,4.765,1.532,1.738,0.364,0.669,0.750,0.339,0.68,0.498529,...,1.068,53.639999,53.529999,53.270000,53.740002,1.7012,Zoetis,Health Care,Pharmaceuticals,2013

In [22]:
drop_df.rename(columns={'Total Revenue':'Total Revenue $B',
                        'Sales, General and Admin.':'SG&A $B', 
                        'Cost of Revenue':'Cost of Revenue $B',
                        'Research and Development':'R&D $B',
                        'Earnings Before Interest and Tax':'EBIT $B', 
                        'Operating Income':'Operating Income $B', 
                        'Net Income':'Net Income $B', 
                        'Estimated Shares Outstanding':'Estimated Shares Outstanding $B', 
                        'Total Assets':'Total Assets $B', 
                        'Total Liabilities':'Total Liabilities $B', 
                        'Total Equity':'Total Equity $B',
                        'open':'Open',
                        'close':'Close',
                        'low':'Low',
                        'high':'High',
                        'volume':'Volume M',
                        
                        }, inplace=True)
    
drop_df

,Ticker Symbol,Total Revenue $B,SG&A $B,Cost of Revenue $B,R&D $B,EBIT $B,Operating Income $B,Net Income $B,Earnings Per Share,Estimated Shares Outstanding $B,...,Total Equity $B,Open,Close,Low,High,Volume M,Security,GICS Sector,GICS Sub Industry,Year
0,AAL,24.855,12.977,10.499,0.000,-1.813,0.148,-1.876,-5.60,0.335000,...,-7.987,4.840000,4.770000,4.660000,4.940000,9.8373,American Airlines Group,Industrials,Airlines,2015
1,AAL,24.855,12.977,10.499,0.000,-1.813,0.148,-1.876,-5.60,0.335000,...,-7.987,4.790000,5.310000,4.710000,5.370000,25.2120,American Airlines Group,Industrials,Airlines,2015
2,AAL,24.855,12.977,10.499,0.000,-1.813,0.148,-1.876,-5.60,0.335000,...,-7.987,5.190000,5.090000,5.000000,5.380000,16.5979,American Airlines Group,Industrials,Airlines,2015
3,AAL,24.855,12.977,10.499,0.000,-1.813,0.148,-1.876,-5.60,0.335000,...,-7.987,5.060000,5.240000,5.050000,5.430000,14.0334,American Airlines Group,Industrials,Airlines,2015
4,AAL,24.855,12.977,10.499,0.000,-1.813,0.148,-1.876,-5.60,0.335000,...,-7.987,5.270000,5.140000,5.060000,5.430000,12.7600,American Airlines Group,Industrials,Airlines,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3032973,ZTS,4.765,1.532,1.738,0.364,0.669,0.750,0.339,0.68,0.498529,...,1.068,53.200001,53.779999,53.180000,53.779999,1.9424,Zoetis,Health Care,Pharmaceuticals,2013
3032974,ZTS,4.765,1.532,1.738,0.364,0.669,0.750,0.339,0.68,0.498529,...,1.068,53.779999,53.720001,53.650002,54.150002,1.3450,Zoetis,Health Care,Pharmaceuticals,2013
3032975,ZTS,4.765,1.532,1.738,0.364,0.669,0.750,0.339,0.68,0.498529,...,1.068,53.759998,53.439999,53.349998,53.849998,1.2419,Zoetis,Health Care,Pharmaceuticals,2013
3032976,ZTS,4.765,1.532,1.738,0.364,0.669,0.750,0.339,0.68,0.498529,...,1.068,53.470001,53.619999,53.400002,53.779999,1.0467,Zoetis,Health Care,Pharmaceuticals,2013
3032977,ZTS,4.765,1.532,1.738,0.364,0.669,0.750,0.339,0.68,0.498529,...,1.068,53.639999,53.529999,53.270000,53.740002,1.7012,Zoetis,Health Care,Pharmaceuticals,2013

In [23]:
pd.set_option('display.float_format', '{:.3g}'.format)
drop_df

,Ticker Symbol,Total Revenue $B,SG&A $B,Cost of Revenue $B,R&D $B,EBIT $B,Operating Income $B,Net Income $B,Earnings Per Share,Estimated Shares Outstanding $B,...,Total Equity $B,Open,Close,Low,High,Volume M,Security,GICS Sector,GICS Sub Industry,Year
0,AAL,24.9,13,10.5,0,-1.81,0.148,-1.88,-5.6,0.335,...,-7.99,4.84,4.77,4.66,4.94,9.84,American Airlines Group,Industrials,Airlines,2015
1,AAL,24.9,13,10.5,0,-1.81,0.148,-1.88,-5.6,0.335,...,-7.99,4.79,5.31,4.71,5.37,25.2,American Airlines Group,Industrials,Airlines,2015
2,AAL,24.9,13,10.5,0,-1.81,0.148,-1.88,-5.6,0.335,...,-7.99,5.19,5.09,5,5.38,16.6,American Airlines Group,Industrials,Airlines,2015
3,AAL,24.9,13,10.5,0,-1.81,0.148,-1.88,-5.6,0.335,...,-7.99,5.06,5.24,5.05,5.43,14,American Airlines Group,Industrials,Airlines,2015
4,AAL,24.9,13,10.5,0,-1.81,0.148,-1.88,-5.6,0.335,...,-7.99,5.27,5.14,5.06,5.43,12.8,American Airlines Group,Industrials,Airlines,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3032973,ZTS,4.76,1.53,1.74,0.364,0.669,0.75,0.339,0.68,0.499,...,1.07,53.2,53.8,53.2,53.8,1.94,Zoetis,Health Care,Pharmaceuticals,2013
3032974,ZTS,4.76,1.53,1.74,0.364,0.669,0.75,0.339,0.68,0.499,...,1.07,53.8,53.7,53.7,54.2,1.34,Zoetis,Health Care,Pharmaceuticals,2013
3032975,ZTS,4.76,1.53,1.74,0.364,0.669,0.75,0.339,0.68,0.499,...,1.07,53.8,53.4,53.3,53.8,1.24,Zoetis,Health Care,Pharmaceuticals,2013
3032976,ZTS,4.76,1.53,1.74,0.364,0.669,0.75,0.339,0.68,0.499,...,1.07,53.5,53.6,53.4,53.8,1.05,Zoetis,Health Care,Pharmaceuticals,2013
3032977,ZTS,4.76,1.53,1.74,0.364,0.669,0.75,0.339,0.68,0.499,...,1.07,53.6,53.5,53.3,53.7,1.7,Zoetis,Health Care,Pharmaceuticals,2013

In [24]:
drop_df.columns = drop_df.columns.str.replace(' ', '_')
drop_df

,Ticker_Symbol,Total_Revenue_$B,SG&A_$B,Cost_of_Revenue_$B,R&D_$B,EBIT_$B,Operating_Income_$B,Net_Income_$B,Earnings_Per_Share,Estimated_Shares_Outstanding_$B,...,Total_Equity_$B,Open,Close,Low,High,Volume_M,Security,GICS_Sector,GICS_Sub_Industry,Year
0,AAL,24.9,13,10.5,0,-1.81,0.148,-1.88,-5.6,0.335,...,-7.99,4.84,4.77,4.66,4.94,9.84,American Airlines Group,Industrials,Airlines,2015
1,AAL,24.9,13,10.5,0,-1.81,0.148,-1.88,-5.6,0.335,...,-7.99,4.79,5.31,4.71,5.37,25.2,American Airlines Group,Industrials,Airlines,2015
2,AAL,24.9,13,10.5,0,-1.81,0.148,-1.88,-5.6,0.335,...,-7.99,5.19,5.09,5,5.38,16.6,American Airlines Group,Industrials,Airlines,2015
3,AAL,24.9,13,10.5,0,-1.81,0.148,-1.88,-5.6,0.335,...,-7.99,5.06,5.24,5.05,5.43,14,American Airlines Group,Industrials,Airlines,2015
4,AAL,24.9,13,10.5,0,-1.81,0.148,-1.88,-5.6,0.335,...,-7.99,5.27,5.14,5.06,5.43,12.8,American Airlines Group,Industrials,Airlines,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3032973,ZTS,4.76,1.53,1.74,0.364,0.669,0.75,0.339,0.68,0.499,...,1.07,53.2,53.8,53.2,53.8,1.94,Zoetis,Health Care,Pharmaceuticals,2013
3032974,ZTS,4.76,1.53,1.74,0.364,0.669,0.75,0.339,0.68,0.499,...,1.07,53.8,53.7,53.7,54.2,1.34,Zoetis,Health Care,Pharmaceuticals,2013
3032975,ZTS,4.76,1.53,1.74,0.364,0.669,0.75,0.339,0.68,0.499,...,1.07,53.8,53.4,53.3,53.8,1.24,Zoetis,Health Care,Pharmaceuticals,2013
3032976,ZTS,4.76,1.53,1.74,0.364,0.669,0.75,0.339,0.68,0.499,...,1.07,53.5,53.6,53.4,53.8,1.05,Zoetis,Health Care,Pharmaceuticals,2013
3032977,ZTS,4.76,1.53,1.74,0.364,0.669,0.75,0.339,0.68,0.499,...,1.07,53.6,53.5,53.3,53.7,1.7,Zoetis,Health Care,Pharmaceuticals,2013

In [25]:
# Connect to local database
from sqlalchemy import create_engine
from config import password
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/nyse_db')

In [27]:
# Use pandas to load csv converted DataFrame into database
drop_df.to_sql(name='nysedata', con=engine, if_exists='replace', index=False)

In [28]:
pd.read_sql_query('select * from nysedata', con=engine).head()

,Ticker_Symbol,Total_Revenue_$B,SG&A_$B,Cost_of_Revenue_$B,R&D_$B,EBIT_$B,Operating_Income_$B,Net_Income_$B,Earnings_Per_Share,Estimated_Shares_Outstanding_$B,...,Total_Equity_$B,Open,Close,Low,High,Volume_M,Security,GICS_Sector,GICS_Sub_Industry,Year
0,AAL,24.9,13,10.5,0,-1.81,0.148,-1.88,-5.6,0.335,...,-7.99,4.84,4.77,4.66,4.94,9.84,American Airlines Group,Industrials,Airlines,2015
1,AAL,24.9,13,10.5,0,-1.81,0.148,-1.88,-5.6,0.335,...,-7.99,4.79,5.31,4.71,5.37,25.2,American Airlines Group,Industrials,Airlines,2015
2,AAL,24.9,13,10.5,0,-1.81,0.148,-1.88,-5.6,0.335,...,-7.99,5.19,5.09,5,5.38,16.6,American Airlines Group,Industrials,Airlines,2015
3,AAL,24.9,13,10.5,0,-1.81,0.148,-1.88,-5.6,0.335,...,-7.99,5.06,5.24,5.05,5.43,14,American Airlines Group,Industrials,Airlines,2015
4,AAL,24.9,13,10.5,0,-1.81,0.148,-1.88,-5.6,0.335,...,-7.99,5.27,5.14,5.06,5.43,12.8,American Airlines Group,Industrials,Airlines,2015

### Create new data with select columns